.bgimg1{
  background:url(https://source.unsplash.com/random/200x300/?burger)  center / cover no-repeat;
}

.bgimg2{
  background:url(https://source.unsplash.com/random/200x300/?coffee)  center / cover no-repeat;
}

.bgimg3{
  background:url(https://source.unsplash.com/random/200x300/?pizza)  center / cover no-repeat;
}